a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
    color: rgb(109, 109, 109);
}

a:hover {
    text-decoration: none;
}

div.index_content{
	display: flex;	
	flex-direction: column;
}

.index_content01,.index_content02,.index_content03,.index_content04{
	margin: 30px 0;
	justify-content: center;
}

.index_movielist .card{
	width: 240px;
	height: 292px;
	border: none;
}

.index_carousel .carousel-item-next.active{
	flex-direction: row;
	display: flex;
}

.morewrapper{
	
}

.moreanchor{
	display: flex;
    justify-content: center;
    border: 1px solid rgb(230, 230, 230);
    padding: 8px;
    border-radius: 22px;
	width: 30%;
	margin: 15px 0;
	color: rgb(109, 109, 109);
}

.moreanchor:hover{
	color: rgb(109, 109, 109);
	background: rgb(242, 242, 242);
}


.index_category{
	font-size:20px;
	margin: 30px 20px;
	font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
	letter-spacing: -0.025em;
	font-weight: bold;
}