.header_navwrpper{
	padding: 0;
}

@media (min-width: 1080px) {
	.header_navwrpper {
	    width: 1032px;
	    margin: 0px auto;
	}
}

nav{
	height: 65px; 
}

nav div.container{
	
}

nav .nav_wrapper,.nav_w_right,.nav_user{
	display: flex;
}

nav .nav_wrapper{
	justify-content: space-between;
}

nav .nav_w_right{
	justify-content: center;
}